flask
flask-bootstrap
flask-sqlalchemy
arrow
flask-script
flask-migrate
flask-httpauth
psycopg2
openpyxl
# ipython
# gevent==1.1b5
# -e git+https://github.com/benoitc/gunicorn.git#egg=gunicorn
# flask-testing
# requests
# selenium
# fake-factory
uwsgi
