flask
flask-bootstrap
flask-sqlalchemy
flask-moment
arrow
flask-script
flask-migrate
flask-httpauth
psycopg2
ipython
openpyxl
gevent==1.1b4
-e git+https://github.com/benoitc/gunicorn.git#egg=gunicorn
