{% extends "bootstrap/base.html" %}

{% block html_attribs %} class="no-js" lang="en"{% endblock %}

{% block metas %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta id="meta-data"
          data-new-project-url="{{ url_for('api.new_project') }}"
          data-new-variation-url="{{ url_for('api.new_variation') }}"
          data-new-item-url="{{ url_for('api.new_item') }}"
          data-new-client-url="{{ url_for('api.new_client') }}"
          data-new-progress-item-url="{{ url_for('api.new_progress_item') }}"
          data-projects-url="{{ url_for('api.get_projects') }}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/packed.css') }}">
{% endblock styles %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/packed.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/new-variation-form.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/new-project-form.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/index-menu.min.js') }}"></script>
{% endblock %}

{% block navbar %}
    <div id="navbar-menu"></div>
    <div id="new-variation-form-container"></div>
    <div id="new-project-form-container"></div>
{% endblock %}
