{% extends "bootstrap/base.html" %}

{% block html_attribs %} class="no-js" lang="en"{% endblock %}

{% block metas %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
{% endblock %}

{% block title %} Varie-fied {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.min.css">

    <style>
        #complete-dialog .modal-dialog {
            width: 80%;
            margin: auto;
        }

        #new-project-dialog .modal-dialog {
            width: 55%;
            margin: auto;
        }
    </style>
{% endblock styles %}

{% block scripts %}
    {{ super() }}

    {{ moment.include_moment() }}

    <script src="//cdn.rawgit.com/uzairfarooq/arrive/v2.2.0/minified/arrive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.1.2/parsley.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>

    <script>
        function onSelectChanged(e) {
            var project_id = $('#select_project_id')[0].selectize.items[0];
            console.log('/api/v1.0/projects/' + project_id);
            $.ajax({
                url: '/api/v1.0/projects/' + project_id,
                type: 'GET',
{#                data: JSON.stringify({}),#}
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    $('#margin').val(data['margin'] * 100 + '%');
                    var el = $('#admin-fee');
                    if (data['admin_fee'] === null) {
                        el.parents('.form-group').hide();
                        el.val('');
                    } else {
                        el.parents('.form-group').show();
                        el.val(accounting.formatMoney(data['admin_fee']));
                    }
                    update();
                },
                failure: function (err) {
                }
            });
        }

        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function update() {
            var total = 0.0;
            $('.input-amount').each(function (i, o) {
                var val = $(o).val();
                if (val !== "" && isNumeric(val)) {
                    total += parseFloat(val);
                }
            });
            $('#value-of-work').val(accounting.formatMoney(total));
            var subtotal = 0.0;
            subtotal += total * (1.0 + parseFloat($('#margin').val()) / 100.0);
            var adminFeeVal = $('#admin-fee').val();
            if (adminFeeVal !== '') {
                subtotal += accounting.parse(adminFeeVal);
            }
            $('#subtotal').val(accounting.formatMoney(subtotal));
        }

        function addRow(s) {
            var newRow = $('<tr class="variationItem">' +
                    '<td>' +
                    '<textarea name="description" class="input-desc form-control" required></textarea>' +
                    '</td>' +
                    '<td style="vertical-align:middle;">' +
                    '<input type="text" name="amount" class="input-amount form-control" required data-parsley-type="number" oninput="update()"/>' +
                    '</td>' +
                    '<td style="width:150px;text-align:center;vertical-align:middle;">' +
                    '<a href="javascript:void(0)" class="add-row" onclick="addRow();"><i class="fa fa-plus"></i> Add</a>' +
                    ' / ' +
                    '<a href="javascript:void(0)" class="delete-row" onclick="deleteRow(this);"><i class="fa fa-minus"></i> Delete</a>' +
                    '</td>' +
                    '</tr>');
            $('#items').append(newRow);
        }

        function deleteRow(e) {
            var row = e.parentNode.parentNode;
            row.parentNode.removeChild(row);
            update();
        }

        $(function () {
            $.material.init();
            $('#picker_datetime').datetimepicker({showTodayButton: true});
            $('#form-new-project').parsley();
            $('#form-new-variation').parsley();
        });

        $(document).ready(function () {
            $('#select_project_id').selectize({
                sortField: 'text'
            });

            $('#btn-add-project').on('click', function (e) {
                var instance = $('#form-new-project').parsley();
                instance.validate();
                if (instance.isValid()) {
                    var project_name = $('#extra_project_name').val();
                    var margin = $('#extra_margin').val();
                    var reference_number = $('#extra_reference_number').val();
                    var admin_fee = $('#extra_admin_fee').val();
                    if (admin_fee === '') {
                        admin_fee = null;
                    }

                    swal({
                        title: 'Are you sure to add the project?',
                        text: 'You can recover this project later!',
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Yes, add it!',
                        cancelButtonText: 'No, cancel plx!',
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: '{{ url_for('api.new_project') }}',
                                type: 'POST',
                                data: JSON.stringify({
                                    name: project_name,
                                    margin: margin,
                                    reference_number: reference_number,
                                    admin_fee: admin_fee
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                success: function (data) {
                                    swal({
                                        title: 'Nice!',
                                        text: 'You created a new project: ' + data['name'],
                                        type: 'success'
                                    }, function () {
                                        location.reload()
                                    });
                                },
                                failure: function (err) {
                                }
                            });
                        } else {
                            swal('Cancelled', 'The project file is safe :)', 'error');
                        }
                    });
                }
            });

            $('#btn_submit').on('click', function (e) {
                var instance = $('#form-new-variation').parsley();
                instance.validate();
                if (instance.isValid()) {
                    var project_id = $('#select_project_id')[0].selectize.items[0];
                    var time = $('#picker_datetime').data("DateTimePicker").date();
                    var timeUTC = time.utc().format();
                    var subcontractor = $('#input_subcontractor').val();
                    var invoice_no = $('#input_invoice_no').val();
                    var input_amount = accounting.unformat($('#subtotal').val());
                    var input_description = $("#input_description").val();
                    swal({
                        title: 'Are you sure?',
                        text: 'Time: ' + time.format('Do MMMM YYYY h:mm:ss a') + '\nSubcontractor: ' + subcontractor + '\nAmount: ' + accounting.formatMoney(input_amount),
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Yes, add it!',
                        cancelButtonText: 'No, cancel plx!',
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: '{{ url_for('api.new_variation') }}',
                                type: 'POST',
                                data: JSON.stringify({
                                    project_id: project_id,
                                    date: timeUTC,
                                    subcontractor: subcontractor,
                                    invoice_no: invoice_no,
                                    amount: input_amount,
                                    description: input_description
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                success: function (data) {
                                    var vid = data['vid'];
                                    var successful = true;
                                    $('.variationItem').each(function (i, obj) {
                                        var desc = $(obj.children[0].children[0]).val();
                                        var amount = $(obj.children[1].children[0]).val();
                                        if (desc !== '' && amount !== '') {
                                            $.ajax({
                                                url: '{{ url_for('api.new_item') }}',
                                                type: 'POST',
                                                data: JSON.stringify({
                                                    "variation_id": vid,
                                                    "description": desc,
                                                    "amount": amount
                                                }),
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                                success: function (data) {
                                                },
                                                failure: function (err) {
                                                    successful = false;
                                                }
                                            });
                                        }
                                    });
                                    if (successful) {
                                        swal({
                                            title: 'Nice!',
                                            text: 'You created a new variation',
                                            type: 'success'
                                        }, function () {
                                            location.reload()
                                        });
                                    } else {
                                    }
                                },
                                failure: function (err) {
                                }
                            });
                        } else {
                            swal('Cancelled', 'Your imaginary file is safe :)', 'error');
                        }
                    });
                }
            });


            $('.input-amount').on('change', update);

        });
    </script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Varie-fied</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li {% if front is defined %} class='active' {% endif %}>
                    <a href="/"><i class="fa fa-home"></i>Home</a></li>
                {% for project in projects -%}
                    {% if project.active %}
                        <li {% if current_project is defined and current_project.pid == project.pid %}class="active"{% endif %}>
                            <a href="/project/{{ project.pid }}">
                                <i class="fa {% if current_project is defined and current_project.pid == project.pid %}fa-folder-open{% else %}fa-folder{% endif %}"></i> {{ project.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="dropdown{% if current_project is defined and not current_project.active %} active{% endif %}">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> Archived Projects
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for project in projects %}
                            {% if not project.active %}
                                <li><a href="/project/{{ project.pid }}">{{ project.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#new-project-dialog"><i class="fa fa-plus"></i>
                        New Project</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#complete-dialog"><i class="fa fa-plus"></i>
                        New Variation</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="complete-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">New Variation</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form-new-variation">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Project*</label>

                            <div class="col-sm-10">
                                <select id="select_project_id" class="form-control" onchange="onSelectChanged(this);">
                                    <option value="">Select a project</option>
                                    {%- for project in projects %}
                                        <option value="{{ project.pid }}">{{ project.name }}</option>
                                    {% endfor -%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTime" class="col-sm-2 control-label">Time*</label>

                            <div class='col-sm-10'>
                                <div class='input-group date' id='picker_datetime'>
                                    <input type='text' class="form-control" required/>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSubcontractor" class="col-sm-2 control-label">Subcontractor*</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_subcontractor" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputInvoiceNo" class="col-sm-2 control-label">Invoice Number</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_invoice_no" placeholder="Optional">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAmount" class="col-sm-2 control-label">Value of work</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="value-of-work" placeholder="0.0" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAmount" class="col-sm-2 control-label">OH/Profit</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="margin" placeholder="0.0" value="" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAdminFee" class="col-sm-2 control-label">Admin-fee</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="admin-fee" placeholder="0.0" oninput="update();" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAmount" class="col-sm-2 control-label">Subtotal</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="subtotal" placeholder="0.0" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Description*</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="input_description" placeholder="" rows=5 required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Items*</label>

                            <div class="col-sm-10">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">Name</th>
                                        <th style="text-align: center">Amount</th>
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="items">
                                    <tr class="variationItem">
                                        <td>
                                            <textarea name="description" class="input-desc form-control" required></textarea>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <input type="text" name="amount" class="input-amount form-control" required data-parsley-type="number" oninput="update()"/>
                                        </td>
                                        <td style="width:150px;text-align:center;vertical-align:middle">
                                            <a href="javascript:void(0)" class="add-row" onclick="addRow();"><i class="fa fa-plus"></i>
                                                Add</a>
                                            /
                                            <a href="javascript:void(0)" class="delete-row" onclick="deleteRow(this);"><i class="fa fa-minus"></i>
                                                Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>* Required</p>
                    <button class="btn btn-primary" data-dismiss="modal">Dismiss</button>
                    <button id="btn_submit" class="btn btn-info">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div id="new-project-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Add Project</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form-new-project">
                        <div class="form-group">
                            <label for="extra_project_name" class="col-sm-3 control-label">Project Name*</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra_project_name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="extra_reference_number" class="col-sm-3 control-label">Reference Number*</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra_reference_number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="extra_margin" class="col-sm-3 control-label">OH/Profit*</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra_margin" required data-parsley-type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="extra_admin_fee" class="col-sm-3 control-label">Administration Fee</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra_admin_fee" data-parsley-type="number" placeholder="optional">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>* Required</p>
                    <button class="btn btn-primary" data-dismiss="modal">Dismiss</button>
                    <button id="btn-add-project" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
