{% extends "bootstrap/base.html" %}

{% block html_attribs %} class="no-js" lang="en"{% endblock %}

{% block metas %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta id="meta-data"
          data-new-project-url="{{ url_for('api.new_project') }}"
          data-new-variation-url="{{ url_for('api.new_variation') }}"
          data-new-item-url="{{ url_for('api.new_item') }}"
          data-new-client-url="{{ url_for('api.new_client') }}"
          data-new-superintendent-url="{{ url_for('api.new_superintendent') }}"
          data-new-progress-item-url="{{ url_for('api.new_progress_item') }}"
          data-projects-url="{{ url_for('api.get_projects') }}">
{% endblock %}

{% block styles %}
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/packed.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/main.min.css') }}">
{% endblock styles %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/packed.js') }}"></script>
    <script>
        window.ga = window.ga || function () {
                    (ga.q = ga.q || []).push(arguments)
                };
        ga.l = +new Date;
        ga('create', 'UA-67200722-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
{% endblock %}

{% block content %}
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div id="content"></div>
{% endblock %}

{% block html %}
    <!--sse-->
    {{ super() }}
    <!--/sse-->
{% endblock %}

