{% extends "base.html" %}

{% block page_content %}
    <h1>Active projects</h1>
    <div>
        <ul>
            {% for project in projects %}
                {%- if project.active -%}
                    <li><a href="project/{{ project.pid }}">{{ project.name }}</a></li>
                {%- endif -%}
            {% endfor %}
        </ul>
    </div>
    <h1>Previous projects</h1>
    <div>
        <ul>
            {% for project in projects -%}
                {%- if not project.active %}
                    <li><a href="project/{{ project.pid }}">{{ project.name }}</a></li>
                {% endif -%}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
