{% extends "base.html" %}

{% block page_content %}
    <h1>Active projects</h1>
    <div>
        {% for project in projects %}
            {%- if project.active -%}
                <ul><a href="project/{{ project.pid }}">{{ project.name }}</a></ul>
            {%- endif -%}
        {% endfor %}
    </div>
    <h1>Previous projects</h1>
    <div>
        {% for project in projects -%}
            {%- if not project.active %}
                <ul><a href="project/{{ project.pid }}">{{ project.name }}</a></ul>
            {% endif -%}
        {% endfor %}
    </div>
{% endblock %}
