{% extends "project_base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="new-progress-item-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">New Progress Items</h2>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="new-progress-items-form">
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">Name</th>
                                        <th style="text-align: center">Contract Value</th>
                                        <th style="text-align: center"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="progressItems">
                                    <tr class="progressItem">
                                        <td>
                                            <textarea name="name" class="input-progress-item-name form-control" required></textarea>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <input type="text" name="amount" class="input-progress-item-value form-control" required data-parsley-type="number"/>
                                        </td>
                                        <td style="width:150px;text-align:center;vertical-align:middle">
                                            <a href="javascript:void(0)" class="add-progress-item-row" onclick="addProgressItemRow();"><i class="fa fa-plus"></i>
                                                Add</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-raised" data-dismiss="modal">Dismiss</button>
                    <button id="btn-add-new-progress-items" class="btn btn-info btn-raised">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
