{% extends "base.html" %}

{% block title %} Varie-fied - {{ current_project.name }} {% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/extensions/editable/bootstrap-table-editable.min.js"></script>

    <script>
        function pendingClick(cb) {
            var $tr = $(cb).parents('tr');
            $tr.attr('class', 'info');
            $tr.find('.checkbox-approved').prop('checked', false);
            $tr.find('.checkbox-declined').prop('checked', false);
            $('#btn-save').prop('disabled', false);
        }
        function pendingFormatter(value, row, index) {
            var mid;
            if (value) {
                mid = '<input class="checkbox checkbox-pending" type="checkbox" checked="" onclick="pendingClick(this);">';
            } else {
                mid = '<input class="checkbox checkbox-pending" type="checkbox" onclick="pendingClick(this);">';
            }
            return '<label>' + mid + '</label>';
        }

        function approvedClick(cb) {
            var $tr = $(cb).parents('tr');
            $tr.attr('class', 'success');
            $tr.find('.checkbox-pending').prop('checked', false);
            $tr.find('.checkbox-declined').prop('checked', false);
            $('#btn-save').prop('disabled', false);
        }
        function approvedFormatter(value, row, index) {
            var mid;
            if (value) {
                mid = '<input class="checkbox checkbox-approved" type="checkbox" checked="" onclick="approvedClick(this);">';
            } else {
                mid = '<input class="checkbox checkbox-approved" type="checkbox" onclick="approvedClick(this);">';
            }
            return '<label>' + mid + '</label>';
        }

        function declinedClick(cb) {
            var $tr = $(cb).parents('tr');
            $tr.attr('class', 'danger');
            $tr.find('.checkbox-pending').prop('checked', false);
            $tr.find('.checkbox-approved').prop('checked', false);
            $('#btn-save').prop('disabled', false);
        }
        function declinedFormatter(value, row, index) {
            var mid;
            if (value) {
                mid = '<input class="checkbox checkbox-declined" type="checkbox" checked="" onclick="declinedClick(this);">';
            } else {
                mid = '<input class="checkbox checkbox-declined" type="checkbox" onclick="declinedClick(this);">';
            }
            return '<label>' + mid + '</label>';
        }

        function completeClick(cb) {
            $('#btn-save').prop('disabled', false);
        }
        function completeFormatter(value, row, index) {
            var mid;
            if (value) {
                mid = '<input class="checkbox checkbox-complete" type="checkbox" checked="" onclick="completeClick(this);">';
            } else {
                mid = '<input class="checkbox checkbox-complete" type="checkbox" onclick="completeClick(this);">';
            }
            return '<label>' + mid + '</label>';
        }

        function rowStyle(row, index) {
            if (row['pending']) {
                return {classes: 'info'};
            } else if (row['approved']) {
                return {classes: 'success'};
            } else if (row['declined']) {
                return {classes: 'danger'};
            } else {
                return {classes: 'active'};
            }
        }

        function timeFormatter(value, row, index) {
            return '<p>' + moment(value).toDate() + '</p>';
        }

        function moneyFormatter(value, row, index) {
            return accounting.formatMoney(value);
        }

        function validate_required(v) {
            if (v === null || v === '') {
                return "Cannot be empty!";
            }
        }

        function detailFormatter(index, row) {
            var url = '/api/v1.0/variations/' + row['vid'] + '/items/';

            setTimeout(function () {
                $.ajax({
                    url: url,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                }).done(function (data) {
                    var items = data['items'];
                    var html =
                            '<table class="table table-hover">' +
                            '<thead>' +
                            '<tr>' +
                            '<th style="text-align: center">Name</th>' +
                            '<th style="text-align: center">Amount</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>';
                    var descriptionClass = 'new-editable-description-' + index;
                    var amountClass = 'new-editable-amount-' + index;

                    for (var i = 0; i < items.length; ++i) {
                        var item = items[i];
                        var id = item['id'];
                        var description = '<a href="javascript:void(0)" data-type="textarea" pk=' + id + ' class="' + descriptionClass + '">' + item.description + '</a>';
                        var amount = '<a href="javascript:void(0)" data-type="textarea" pk=' + id + ' class="' + amountClass + '">' + item.amount + '</a>';
                        html += '<tr class="item-detail"><td>' + description + '</td><td style="text-align: right;width: 200px">' + amount + '</td></tr>';
                    }
                    html += '</tbody>' + '</table>';

                    $($('[data-index=' + index + ']').next()).children().html(html);
                    $('.' + descriptionClass).editable();
                    $('.' + amountClass).editable();
                    $('.' + descriptionClass).on('save', function (e, params) {
                        $("#btn-save").prop('disabled', false);
                    });
                    $('.' + amountClass).on('save', function (e, params) {
                        $("#btn-save").prop('disabled', false);
                        var total = 0.0;
                        $('.' + amountClass).each(function (i, o) {
                            if (o !== e['target']) {
                                var val = $(o).html();
                                if (val !== "" && isNumeric(val)) {
                                    total += parseFloat(val);
                                }
                            } else {
                                total += parseFloat(params.newValue);
                            }
                        });
                        total *= 1.0 + {{ current_project.margin }};
                        {% if current_project.admin_fee is not none %}
                            total += {{ current_project.admin_fee }};
                        {% endif %}
                        $(this).closest('.detail-view').prev().children('.subtotal').html('<b>' + accounting.formatMoney(total) + '</b>');
                    });
                });
            }, 0);

            return '<strong><i class="fa fa-spinner fa-spin"></i> Loading...</strong>';
        }

        $.ajax({
            url: '{{ url_for('api.get_project_variations', project_id=current_project.pid) }}',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        }).done(function (data) {
            $('#table').bootstrapTable({
                columns: [{
                    checkbox: true
                }, {
                    field: 'virtual_id',
                    title: '#',
                    halign: 'center',
                    sortable: true
                }, {
                    field: 'description',
                    title: 'Description',
                    editable: {
                        type: 'textarea'
                    },
                    halign: 'center',
                    width: '600px'
                }, {
                    field: 'date',
                    title: 'Date',
                    formatter: 'timeFormatter',
                    halign: 'center',
                    width: '300px'
                }, {
                    field: 'subcontractor',
                    title: 'Subcontractor',
                    editable: {
                        type: 'text',
                        validate: validate_required
                    },
                    halign: 'center',
                    sortable: true
                }, {
                    field: 'amount',
                    title: 'Subtotal ($)',
                    halign: 'center',
                    sortable: true,
                    formatter: 'moneyFormatter',
                    'class': 'subtotal'
                }, {
                    field: 'invoice_no',
                    title: 'Invoice #',
                    editable: true,
                    halign: 'center'
                }, {
                    field: 'note',
                    title: 'Note',
                    editable: {
                        type: 'textarea'
                    },
                    halign: 'center'
                }, {
                    field: 'pending',
                    title: 'Pending',
                    formatter: 'pendingFormatter',
                    halign: 'center',
                    valign: 'center',
                    sortable: true,
                    'class': 'pending'
                }, {
                    field: 'approved',
                    title: 'Approved',
                    formatter: 'approvedFormatter',
                    halign: 'center',
                    valign: 'center',
                    sortable: true,
                    'class': 'approved'
                }, {
                    field: 'declined',
                    title: 'Declined',
                    formatter: 'declinedFormatter',
                    halign: 'center',
                    valign: 'center',
                    sortable: true,
                    'class': 'declined'
                }, {
                    field: 'completed',
                    title: 'Completed',
                    formatter: 'completeFormatter',
                    halign: 'center',
                    valign: 'center',
                    sortable: true,
                    'class': 'completed'
                }],
                data: data['variations'],
                rowStyle: 'rowStyle',
                toolbar: '#toolbar',
                detailView: true,
                detailFormatter: 'detailFormatter'
            });
        }).always(function () {
            $('body').addClass('loaded');
        });

        $.fn.editable.defaults.mode = 'inline';

        $(document).ready(function () {
            $('#delete_project').on('click', function (e) {
                swal({
                    title: 'Are you sure to delete the project?',
                    text: 'You are going to',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel plx!',
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (!isConfirm) {
                        swal('Cancelled', 'Your project is safe :)', 'error');
                        return;
                    }
                    var $button = $(this);
                    var html = $button.html();
                    $button.html('<i class="fa fa-spinner fa-spin"></i> ' + html);
                    $button.off('click');

                    $.ajax({
                        url: '{{ url_for('api.delete_project', project_id=current_project.pid) }}',
                        type: 'DELETE',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    }).done(function () {
                        swal({
                            title: 'Nice!',
                            text: 'You delete: {{ current_project.name }}',
                            type: 'success'
                        }, function () {
                            window.location.href = "/";
                        });
                    });
                });
            });

            var action = '{% if current_project.active %}archive{% else %}unarchive{% endif %}';
            $('#archive_project').on('click', function (e) {
                swal({
                    title: 'Are you sure to ' + action + ' the project?',
                    text: 'You can recover this project later!',
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes, ' + action + ' it!',
                    cancelButtonText: 'No, cancel plx!',
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (!isConfirm) {
                        swal('Cancelled', 'The project file is safe :)', 'error');
                        return;
                    }
                    var $button = $(this);
                    var html = $button.html();
                    $button.html('<i class="fa fa-spinner fa-spin"></i> ' + html);
                    $button.off('click');

                    $.ajax({
                        url: '{{ url_for('api.edit_project', project_id=current_project.pid) }}',
                        type: 'PUT',
                        data: JSON.stringify({
                            "active":{% if current_project.active %} false{% else %} true{% endif %}
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    }).done(function () {
                        swal({
                            title: 'Nice!',
                            text: 'You ' + action + ': {{ current_project.name }}',
                            type: 'success'
                        }, function () {
                            location.reload()
                        });
                    });
                });
            });

            $('#btn-save-meta').on('click', function (e) {
                var instance = $('#edit-project-meta-form').parsley();
                instance.validate();
                if (instance.isValid()) {
                    swal({
                        title: 'Are you sure to save the changes?',
                        text: 'You cannot recover them later!',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: 'teal',
                        confirmButtonText: 'Yes, save them!',
                        cancelButtonText: 'No, cancel plx!',
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirmed) {
                        if (!isConfirmed) {
                            swal('Cancelled', 'Your project is safe :)', 'error');
                            return;
                        }
                        var $button = $(this);
                        var html = $button.html();
                        $button.html('<i class="fa fa-spinner fa-spin"></i> ' + html);
                        $button.off('click');

                        var new_name = $('#new_name').val();
                        var new_margin = $('#new_margin').val();
                        var new_reference_number = $('#new_ref_number').val();
                        var new_admin_fee = $('#new_admin_fee').val();
                        if (new_admin_fee === '') {
                            new_admin_fee = null;
                        }
                        $.ajax({
                            url: '{{ url_for('api.edit_project', project_id=current_project.pid) }}',
                            type: 'PUT',
                            data: JSON.stringify({
                                "name": new_name,
                                "margin": new_margin,
                                "admin_fee": new_admin_fee,
                                "reference_number": new_reference_number
                            }),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json'
                        }).done(function () {
                            swal({
                                title: 'Nice!',
                                text: 'Save changes',
                                type: 'success'
                            }, function () {
                                location.reload()
                            });
                        });
                    });
                }
            });

            var $table = $('#table');
            $table.on('editable-save.bs.table', function (rows) {
                $('#btn-save').prop('disabled', false);
            });
            $table.on('check.bs.table check-all.bs.table check-some.bs.table', function (rows) {
                $('#btn-delete').prop('disabled', false);
            });
            $table.on('uncheck-all.bs.table', function (rows) {
                $('#btn-delete').prop('disabled', true);
            });
            $table.on('uncheck.bs.table	uncheck-some.bs.table', function (rows) {
                var selected = $table.bootstrapTable('getSelections');
                if (selected == 0) {
                    $('#btn-delete').prop('disabled', true);
                }
            });

            $('#btn-delete').on('click', function (e) {
                swal({
                    title: 'Are you sure to delete selected rows?',
                    text: 'You cannot recover them later!',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: 'teal',
                    confirmButtonText: 'Yes, save them!',
                    cancelButtonText: 'No, cancel plx!',
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirmed) {
                    if (!isConfirmed) {
                        swal('Cancelled', 'Your project is safe :)', 'error');
                        return;
                    }
                    var $button = $(this);
                    var html = $button.html();
                    $button.html('<i class="fa fa-spinner fa-spin"></i> ' + html);
                    $button.off('click');

                    var success = true;
                    var selected = $table.bootstrapTable('getSelections');
                    for (var i = 0; i < selected.length; ++i) {
                        $.ajax({
                            url: '/api/v1.0/variations/' + selected[i]['vid'],
                            type: 'DELETE',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json'
                        }).fail(function () {
                            success = false;
                        });
                    }
                    if (success) {
                        swal({
                            title: 'Nice!',
                            text: 'Delete variations',
                            type: 'success'
                        }, function () {
                            location.reload()
                        });
                    }
                });
            });

            $('#btn-save').on('click', function (e) {
                swal({
                    title: 'Are you sure to save all the changes?',
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: 'teal',
                    confirmButtonText: 'Yes, save them!',
                    cancelButtonText: 'No, cancel plx!',
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (!isConfirm) {
                        swal('Cancelled', 'Your saves are unsaved', 'error');
                        return;
                    }

                    var $button = $(this);
                    var html = $button.html();
                    $button.html('<i class="fa fa-spinner fa-spin"></i> ' + html);
                    $button.off('click');

                    var data = $table.bootstrapTable('getData');
                    for (var key = 0; key < data.length; ++key) {
                        var value = data[key];
                        var vid = value['vid'];
                        var selector = '[data-index=' + key + ']';
                        var element = $(selector);
                        value['pending'] = element.find('.pending').children().children().is(':checked');
                        value['approved'] = element.find('.approved').children().children().is(':checked');
                        value['declined'] = element.find('.declined').children().children().is(':checked');
                        value['completed'] = element.find('.completed').children().children().is(':checked');
                        value['amount'] = accounting.parse(element.find('.subtotal').html());

                        $.ajax({
                            url: '/api/v1.0/variations/' + vid,
                            type: 'PUT',
                            data: JSON.stringify(value),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json'
                        });
                    }
                    $('.item-detail').each(function (i, o) {
                        var itemData = $(o).find('a');
                        var descriptionObj = $(itemData[0]);
                        var amountObj = $(itemData[1]);
                        var id = (descriptionObj.attr('pk'));
                        var description = descriptionObj.html();
                        var amount = parseFloat(amountObj.html());

                        $.ajax({
                            url: '/api/v1.0/items/' + id,
                            type: 'PUT',
                            data: JSON.stringify({
                                "amount": amount,
                                "description": description
                            }),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json'
                        });
                    });
                    swal({
                        title: 'Nice!',
                        text: 'You saved all changes.',
                        type: 'success'
                    }, function () {
                        location.reload();
                    });
                });
            });
        });
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">

    <style>
        #loader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }

        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #3498db;

            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;

            z-index: 1001;
        }

        #loader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }

        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #3498db;

            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;

            z-index: 1001;
        }

        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #e74c3c;

            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #f9c922;

            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 51%;
            height: 100%;
            background: #222222;
            z-index: 1000;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        #loader-wrapper .loader-section.section-left {
            left: 0;
        }

        #loader-wrapper .loader-section.section-right {
            right: 0;
        }

        .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        .loaded #loader-wrapper .loader-section.section-right {
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translateX(100%);

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        .loaded #loader {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .loaded #loader-wrapper {
            visibility: hidden;

            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);

            -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div id="content" class="container-fluid">
        <h2>Variations for {{ current_project.name }}
            <small>(Reference number: {{ current_project.reference_number }};
                OH/Profit: {{ current_project.margin * 100 }}%
                {% if current_project.admin_fee is not none %}, Admin fee: {{ current_project.admin_fee }}{% endif %},
                <a href="javascript:void(0)" data-toggle="modal" data-target="#edit-dialog">edit</a>)
            </small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <a class="btn btn-info btn-raised" href="/export/{{ current_project.pid }}">
                <i class="fa fa-download"></i> Export Project
            </a>
            <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#complete-dialog">
                <i class="fa fa-plus"></i> Add Variation
            </button>
            <button id="archive_project" type="button" class="btn btn-info btn-raised">
                <i class="fa fa-check-square-o"></i>
                {% if current_project.active %}
                    Archive Project
                {% else %}
                    Unarchive Project
                {% endif %}
            </button>
            <button id="delete_project" type="button" class="btn btn-danger btn-raised">
                <i class="fa fa-trash"></i> Delete Project
            </button>
        </div>

        <table id="table" class="table table-condensed"></table>

        <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <button id="btn-save" type="button" class="btn btn-info btn-raised" disabled>Save</button>
                </div>
                <div class="form-group">
                    <button id="btn-delete" type="button" class="btn btn-danger btn-raised" disabled>Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Edit Project</h2>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="edit-project-meta-form">
                            <div class="form-group">
                                <label for="new_name" class="col-sm-3 control-label">Project Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="new_name" placeholder="Name" required value="{{ current_project.name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_ref_number" class="col-sm-3 control-label">Reference Number</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="new_ref_number" placeholder="Reference Number" required value="{{ current_project.reference_number }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_margin" class="col-sm-3 control-label">OH/Profit</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="new_margin" placeholder="Optional" required value="{{ current_project.margin }}" data-parsley-type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_admin_fee" class="col-sm-3 control-label">Fixed Administration
                                    fee</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="new_admin_fee" placeholder="(optional)" {% if current_project.admin_fee is not none %}value="{{ current_project.admin_fee }}"{% endif %}>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Dismiss</button>
                    <button id="btn-save-meta" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
