{% extends "base.html" %}

{% block title %} Varie-fied - {{ current_project.name }} {% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/extensions/editable/bootstrap-table-editable.min.js"></script>

    <script>
        function pendingClick(cb) {
            $(cb.parentNode.parentNode.parentNode).attr('class', 'info');
            cb.parentNode.parentNode.nextSibling.firstChild.firstChild.checked = false;
            cb.parentNode.parentNode.nextSibling.nextSibling.firstChild.firstChild.checked = false;
            $("#btn-save").prop("disabled", false);
        }
        function pendingFormatter(value, row, index) {
            void(row);
            void(index);

            var mid;
            if (value) {
                mid = '<input class="checkbox" type="checkbox" checked="" onclick="pendingClick(this);">';
            } else {
                mid = '<input class="checkbox" type="checkbox" onclick="pendingClick(this);">';
            }
            return '<label>' + mid + '</label>';
        }

        function approvedClick(cb) {
            cb.parentNode.parentNode.previousSibling.firstChild.firstChild.checked = false;
            cb.parentNode.parentNode.nextSibling.firstChild.firstChild.checked = false;
            $(cb.parentNode.parentNode.parentNode).attr('class', 'success');
            $("#btn-save").prop("disabled", false);
        }
        function approvedFormatter(value, row, index) {
            void(row);
            void(index);

            var mid;
            if (value) {
                mid = '<input class="checkbox" type="checkbox" checked="" onclick="approvedClick(this);">';
            } else {
                mid = '<input class="checkbox" type="checkbox" onclick="approvedClick(this);">';
            }
            return "<label>" + mid + "</label>";
        }

        function declinedClick(cb) {
            cb.parentNode.parentNode.previousSibling.firstChild.firstChild.checked = false;
            cb.parentNode.parentNode.previousSibling.previousSibling.firstChild.firstChild.checked = false;
            $(cb.parentNode.parentNode.parentNode).attr('class', 'danger');
            $("#btn-save").prop("disabled", false);
        }
        function declinedFormatter(value, row, index) {
            void(row);
            void(index);

            var mid;
            if (value) {
                mid = '<input class="checkbox" type="checkbox" checked="" onclick="declinedClick(this);">';
            } else {
                mid = '<input class="checkbox" type="checkbox" onclick="declinedClick(this);">';
            }
            return "<label>" + mid + "</label>";
        }

        function completeClick(cb) {
            $("#btn-save").prop("disabled", false);
        }
        function completeFormatter(value, row, index) {
            void(row);
            void(index);

            var mid;
            if (value) {
                mid = '<input class="checkbox" type="checkbox" checked="" onclick="completeClick(this);">';
            } else {
                mid = '<input class="checkbox" type="checkbox" onclick="completeClick(this);">';
            }
            return "<label>" + mid + "</label>";
        }

        function rowStyle(row, index) {
            void(index);

            if (row['pending']) {
                return {classes: 'info'};
            } else if (row['approved']) {
                return {classes: 'success'};
            } else if (row['declined']) {
                return {classes: 'danger'};
            } else {
                return {classes: 'active'};
            }
        }

        function timeFormatter(value, row, index) {
            void(row);
            void(index);
            return "<p>" + moment(value).toDate() + "</p>";
        }

        function moneyFormatter(value, row, index) {
            void(row);
            void(index);
            return accounting.formatMoney(value);
        }

        function validate_required (v) {
            if (!v) {
                return "Cannot be empty!";
            }
        }

        function detailFormatter(index, row) {
            var url = '/api/v1.0/variations/' + row['vid'] + '/items/';
            $.ajax({
                url: url,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    var items = data['items'];
                    var html =
                            '<table class="table table-hover">' +
                            '<thead>' +
                            '<tr>' +
                            '<th>Name</th>' +
                            '<th>Amount</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>';
                    var descriptionClass = 'new-editable-description-' + index;
                    var amountClass = 'new-editable-amount-' + index;

                    for (var i = 0; i < items.length; ++i) {
                        var item = items[i];
                        var id = item['id'];
                        var description = '<a href="#" data-type="textarea" pk=' + id + ' class="' + descriptionClass +'">' + item.description + '</a>';
                        var amount = '<a href="#" data-type="textarea" pk=' + id + ' class="' + amountClass + '">' + item.amount + '</a>';
                        html += '<tr class="item-detail"><td>' + description + '</td><td>' + amount + '</td></tr>';
                    }
                    html += '</tbody>' + '</table>';

                    $($('[data-index=' + index + ']').next()).children().html(html);
                    $('.' + descriptionClass).editable();
                    $('.' + amountClass).editable();
                    $('.' + descriptionClass).on('save', function (e, params) {
                        $("#btn-save").prop("disabled", false);
                    });
                    $('.' + amountClass).on('save', function (e, params) {
                        $("#btn-save").prop("disabled", false);
                        var total = 0.0;
                        $('.' + amountClass).each(function (i, o) {
                            if (o !== e['target']) {
                                var val = $(o).html();
                                if (val !== "" && isNumeric(val)) {
                                    total += parseFloat(val);
                                }
                            } else {
                                total += parseFloat(params.newValue);
                            }
                        });
                        total *= 1.0 + {{ current_project.margin }};
                        {% if current_project.admin_fee is not none %}
                            total += {{ current_project.admin_fee }};
                        {% endif %}
                        $(this).closest('.detail-view').prev().children('.subtotal').html('<b>' + accounting.formatMoney(total) + '</b>');
                    });
                }
            });
            return '';
        }

        $.ajax({
            url: '{{ url_for('api.get_project_variations', project_id=current_project.pid) }}',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#table').bootstrapTable({
                    columns: [{
                        checkbox: true
                    }, {
                        field: 'virtual_id',
                        title: '#',
                        halign: 'center',
                        sortable: true
                    }, {
                        field: 'description',
                        title: 'Description',
                        editable: {
                            type: 'textarea'
                        },
                        halign: 'center',
                        width: '600px'
                    }, {
                        field: 'date',
                        title: 'Date',
                        formatter: 'timeFormatter',
                        halign: 'center',
                        width: '300px'
                    }, {
                        field: 'subcontractor',
                        title: 'Subcontractor',
                        editable: {
                            type: 'text',
                            validate: validate_required
                        },
                        halign: 'center',
                        sortable: true
                    }, {
                        field: 'amount',
                        title: 'Subtotal ($)',
                        halign: 'center',
                        sortable: true,
                        formatter: 'moneyFormatter',
                        'class': 'subtotal'
                    }, {
                        field: 'invoice_no',
                        title: 'Invoice #',
                        editable: true,
                        halign: 'center'
                    }, {
                        field: 'note',
                        title: 'Note',
                        editable: {
                            type: 'textarea'
                        },
                        halign: 'center'
                    }, {
                        field: 'pending',
                        title: 'Pending',
                        formatter: "pendingFormatter",
                        halign: 'center',
                        valign: 'center',
                        sortable: true,
                        'class': "pending"
                    }, {
                        field: 'approved',
                        title: 'Approved',
                        formatter: "approvedFormatter",
                        halign: 'center',
                        valign: 'center',
                        sortable: true,
                        'class': "approved"
                    }, {
                        field: 'declined',
                        title: 'Declined',
                        formatter: "declinedFormatter",
                        halign: 'center',
                        valign: 'center',
                        sortable: true,
                        'class': "declined"
                    }, {
                        field: 'completed',
                        title: 'Completed',
                        formatter: "completeFormatter",
                        halign: 'center',
                        valign: 'center',
                        sortable: true,
                        'class': "completed"
                    }],
                    data: data['variations'],
                    rowStyle: "rowStyle",
                    showColumns: true,
                    showRefresh: true,
                    showToggle: true,
                    toolbar: "#toolbar",
                    onCheck: function (rows) {
                        void(rows);
                        $("#btn-delete").prop("disabled", false);

                    },
                    onCheckAll: function(rows) {
                        void(rows);
                        $("#btn-delete").prop("disabled", false);
                    },
                    onUncheck: function(rows) {
                        void(rows);
                        var selected = $('table').bootstrapTable('getSelections');
                        if (selected == 0) {
                            $("#btn-delete").prop("disabled", true);
                        }
                    },
                    onUncheckAll: function(rows) {
                        void(rows);
                        $("#btn-delete").prop("disabled", true);
                    },
                    detailView: true,
                    detailFormatter: "detailFormatter"
                });
            }
        });

        $.fn.editable.defaults.mode = 'inline';
    </script>

    <script>
        $(document).ready(function () {
            $('#delete_project').on("click", function (e) {
                void(e);
                swal({
                    title: "Are you sure to delete the project?",
                    text: "You are going to",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '{{ url_for('api.delete_project', project_id=current_project.pid) }}',
                            type: "DELETE",
                            data: JSON.stringify({}),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                void(data);
                                swal({
                                    title: "Nice!",
                                    text: "You delete: {{ current_project.name }}",
                                    type: "success"
                                }, function () {
                                    window.location.href = "/";
                                });
                            },
                            failure: function (err) {
                            }
                        });
                    } else {
                        swal("Cancelled", "Your project is safe :)", "error");
                    }
                });
            });

            var action = "{% if current_project.active %}archive{% else %}unarchive{% endif %}";
            $('#archive_project').on("click", function (e) {
                void(e);
                swal({
                    title: "Are you sure to " + action + " the project?",
                    text: "You can recover this project later!",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, " + action + " it!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '{{ url_for('api.edit_project', project_id=current_project.pid) }}',
                            type: "PUT",
                            data: JSON.stringify({
                                "active":{% if current_project.active %} false{% else %} true{% endif %}
                            }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                void(data);
                                swal({
                                    title: "Nice!",
                                    text: "You " + action + ": {{ current_project.name }}",
                                    type: "success"
                                }, function () {
                                    location.reload()
                                });
                            },
                            failure: function (err) {
                            }
                        });
                        swal("Deleted!", "The project has been archived.", "success");
                    } else {
                        swal("Cancelled", "The project file is safe :)", "error");
                    }
                });
            });

            $("#rename_project").on("click", function (e) {
                void(e);
                swal({
                    title: "Rename Project",
                    text: "What would you like to call the project?",
                    type: "input",
                    inputValue: "{{ current_project.name }}",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    closeOnCancel: true
                }, function (inputValue) {
                    if (inputValue === false) {
                        return false;
                    } else if (inputValue === "") {
                        swal.showInputError("You need to write something!");
                        return false;
                    } else {
                        if (inputValue != "{{ current_project.name }}") {
                            $.ajax({
                                url: '{{ url_for('api.edit_project', project_id=current_project.pid) }}',
                                type: "PUT",
                                data: JSON.stringify({
                                    "name": inputValue
                                }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                    void(data);
                                    swal({
                                        title: "Nice!",
                                        text: "You changed the project name from \"{{ current_project.name }}\" to \"" + inputValue + '"',
                                        type: "success"
                                    }, function () {
                                        location.reload()
                                    });
                                },
                                failure: function (err) {
                                }
                            });
                        } else {
                            swal("unchanged")
                        }
                    }
                });
            });

            $("#table").on("editable-save.bs.table", function (e) {
                $("#btn-save").prop("disabled", false);
            });

            $('#btn-delete').on('click', function (e) {
                void(e);
                swal({
                    title: "Are you sure to delete selected rows?",
                    text: "You cannot recover them later!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "teal",
                    confirmButtonText: "Yes, save them!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirmed) {
                    if (isConfirmed) {
                        var success = true;
                        var selected = $('table').bootstrapTable('getSelections');
                        for (var i = 0; i < selected.length; ++i) {
                            $.ajax({
                                url: "/api/v1.0/variations/" + selected[i]["vid"],
                                type: "DELETE",
                                data: JSON.stringify({}),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                    void(data);
                                },
                                failure: function (err) {
                                    void(err);
                                    success = false;
                                }
                            });
                        }
                        if (success) {
                            swal({
                                title: "Nice!",
                                text: "Delete variations",
                                type: "success"
                            }, function () {
                                location.reload()
                            });
                        }
                    } else {
                        swal("Cancelled", "Your project is safe :)", "error");
                    }
                });
            });

            $('#btn-save').on('click', function (e) {
                void(e);
                swal({
                    title: "Are you sure to save all the changes?",
                    {#                    text: "You are going to",#}
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "teal",
                    confirmButtonText: "Yes, save them!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        var data = $('#table').bootstrapTable('getData');
                        for (var key = 0; key < data.length; ++key) {
                            var value = data[key];
                            var vid = value['vid'];

                            var selector = "[data-index=" + key + "]";
                            var element = $(selector);
                            value['pending'] = element.find(".pending").children().children().is(':checked');
                            value['approved'] = element.find(".approved").children().children().is(':checked');
                            value['declined'] = element.find(".declined").children().children().is(':checked');
                            value['completed'] = element.find(".completed").children().children().is(':checked');
                            value['amount'] = accounting.parse(element.find('.subtotal').html());

                            $.ajax({
                                url: "/api/v1.0/variations/" + vid,
                                type: "PUT",
                                data: JSON.stringify(value),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                },
                                failure: function (err) {
                                }
                            });
                        }
                        $('.item-detail').each(function(i, o) {
                            var itemData = $(o).find('a');
                            var descriptionObj = $(itemData[0]);
                            var amountObj = $(itemData[1]);
                            var id = (descriptionObj.attr('pk'));
                            var description = descriptionObj.html();
                            var amount = parseFloat(amountObj.html());

                            $.ajax({
                                url: "/api/v1.0/items/" + id,
                                type: "PUT",
                                data: JSON.stringify({
                                    "amount": amount,
                                    "description": description
                                }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                },
                                failure: function (err) {
                                }
                            });
                        });
                        swal({
                            title: "Nice!",
                            text: "You saved all changes.",
                            type: "success"
                        }, function () {
                            location.reload();
                        });
                   } else {
                        swal("Cancelled", "Your saves are unsaved", "error");
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Variations for {{ current_project.name }}</h2>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
{#            <button id="export_project" type="button" class="btn btn-info btn-raised" location.href='export/{{ current_project.pid }}';>#}
{#            </button>#}
            <a class="btn btn-info btn-raised" href="/export/{{ current_project.pid }}">
                <i class="fa fa-download"></i> Export Project
            </a>
            <button id="rename_project" type="button" class="btn btn-info btn-raised">
                <i class="fa fa-pencil"></i> Rename Project
            </button>
            <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#complete-dialog">
                <i class="fa fa-plus"></i> Add Variation
            </button>
            <button id="archive_project" type="button" class="btn btn-info btn-raised">
                <i class="fa fa-check-square-o"></i>
                {% if current_project.active %}
                    Archive Project
                {% else %}
                    Unarchive Project
                {% endif %}
            </button>
            <button id="delete_project" type="button" class="btn btn-danger btn-raised">
                <i class="fa fa-trash"></i> Delete Project
            </button>
        </div>

        <table id="table" class="table table-condensed"></table>

        <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <button id="btn-save" type="button" class="btn btn-info btn-raised" disabled>Save</button>
                </div>
                <div class="form-group">
                    <button id="btn-delete" type="button" class="btn btn-danger btn-raised" disabled>Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
