{% extends "base.html" %}

{% block title %} Varie-fied - {{ current_project.name }} {% endblock %}

{% block metas %}
    {{ super() }}
    <meta id="project-data"
          data-project-id="{{ current_project.pid }}"
          data-project-active="{{ current_project.active }}"
          data-project-ref-no="{{ current_project.reference_number }}"
          data-project-name="{{ current_project.name }}"
          data-project-margin="{{ current_project.margin }}"
          data-project-admin-fee="{{ current_project.admin_fee }}"
          data-get-project-variations-url="{{ url_for('api.get_project_variations', project_id=current_project.pid) }}"
          data-delete-project-url="{{ url_for('api.delete_project', project_id=current_project.pid) }}"
          data-edit-project-url="{{ url_for('api.edit_project', project_id=current_project.pid) }}"
          data-get-project-progress-items-url="{{ url_for('api.get_project_progress_items', project_id=current_project.pid) }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/project_base.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit-project-meta-form.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/new-progress-items-form.min.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/PACE/themes/blue/pace-theme-center-simple.css') }}"/>
{% endblock %}

{% block content %}
    <div id="content" class="container-fluid">
        <h2>{{ prefix }} "{{ current_project.name }}"
            <small>(<a href="{{ alt_url }}">{{ alt_text }}</a>,
                   Reference number: {{ current_project.reference_number }};
                   OH/Profit: {{ current_project.margin * 100 }}%
                {% if current_project.admin_fee is not none %}, Admin fee: {{ current_project.admin_fee }}{% endif %},
                <a href="javascript:void(0)" data-toggle="modal" data-target="#edit-dialog">edit</a>)
            </small>
        </h2>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <a class="btn btn-info btn-raised" href="/export/{{ current_project.pid }}">
                <i class="fa fa-download"></i> Export Project
            </a>
            {% if alt_text != 'Progress' %}
                <button class="btn btn-material-deep-purple btn-raised" data-toggle="modal" data-target="#new-progress-item-dialog">
                    <i class="fa fa-plus"></i> New Items
                </button>
            {% else %}
                <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#new-variation-dialog">
                    <i class="fa fa-plus"></i> Add Variation
                </button>
            {% endif %}
            <button id="archive_project" type="button" class="btn btn-info btn-raised">
                <i class="fa fa-check-square-o"></i>
                {% if current_project.active %}
                    Archive Project
                {% else %}
                    Unarchive Project
                {% endif %}
            </button>
            <button id="delete_project" type="button" class="btn btn-danger btn-raised">
                <i class="fa fa-trash"></i> Delete Project
            </button>
        </div>

        <table id="table" class="table table-condensed"></table>

        <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <button id="btn-save" type="button" class="btn btn-info btn-raised" disabled>Save</button>
                </div>
                <div class="form-group">
                    <button id="btn-delete" type="button" class="btn btn-danger btn-raised" disabled>Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div id="meta-edit-form"></div>

    <div id="new-progress-items-form-container"></div>
{% endblock %}
